{% load staticfiles %}

<!DOCTYPE html>
<html>
	<head>
		<title>Compact Input/Output Report Generator</title>
	</head>

	<link type="text/css" rel="stylesheet" href="{% static 'styles.css' %}">
	<body>
	<div id="page-border">
		<header>Compact Input/Output Report Generator</header>
		<div id="header-menu"><a href="/">Home</a> | <a href="/about">About</a> | <a href="/user_manual">User Manual</a> | <a href="/faq">FAQ</a></div>
		<br>
		<br>
		<div id="option-title">Simple Analysis</div>
		<div id="option-subtitle">High-level view of industry-wide impact.</div>
		<form name = "Simple Analysis" action="results" method ="get">
			<div id="container">
				<div id="option-body">Industry:</div><br>
  					<select id="Industries" title="Industries" required>
  						{% for industry in industries %}
    						<option value={{industry}}>{{ industry }}</option>
    					{% endfor %}
					</select>
			</div>
			<div id="container">
				<div id="option-body">State:</div><br>
					<select id="States" title="States" required>
						{% for area in areas %}
							<option value={{area.name}}>{{ area.name }}</option>
						{% endfor %}
					</select>
			</div>
			<br>
			<div id="container">
				<input type="submit" value="Run Report">
			</div>
		</form>
		<div id="option-title">Advanced Analysis</div>
		<div id="option-subtitle">Filter by 6-digit NAICS code and custom business details.</div>
		<form name = "Advanced Analysis" action="results" method ="get">
			<div id="container">
				<div id="option-body">NAICS Code:</div><br>
				<input type=text name="NAICSCode" placeholder="Required" required>
			</div>

			<div id="container">
				<div id="option-body">State:</div><br>
					<select id="States" title="States" required>
						{% for area in areas %}
							<option value={{area.name}}>{{ area.name }}</option>
						{% endfor %}
					</select>
			</div>

			<div id="container">
				<div id="option-body">Revenue:</div><br>
				<input type=text name="Revenue" placeholder="Optional">
			</div>

			<div id="container">
				<div id="option-body"># of Employees:</div><br>
				<input type=text name="Employees" placeholder="Optional">
			</div>

			<div id="container">
				<div id="option-body">Wages (Annual Total):</div><br>
				<input type=text name="AnnualWages" placeholder="Optional">
			</div>

			<br>

			<div id="container">
				<input type="submit" value="Run Report">
			</div>

			<div id="option-title">Additional options</div>
			<div id="option-subtitle">(Only applicable to Advanced Analysis)</div>

			<div id="container">
				 <input type=checkbox name="EmployeeBasedLC">
				 <label for="EmployeeBasedLC">Use Employee-Based Location Quotients</label>
			</div>
			<div id="container">
				 <input type=checkbox name"WageBasedLC">
				 <label for="WageBasedLC">Use Wage-Based Location Quotients</label>
			</div>


		</form>
		<br>
		<br>
		<br>
	</div>
	</body>
</html>
