{% load staticfiles %}

<!DOCTYPE html>
<html>
	<head>
		<title>Compact Input/Output Report Generator</title>
	</head>

	<link type="text/css" rel="stylesheet" href="{% static 'styles.css' %}">
	<body>
	<div id="page-border">
		<header>Compact Input/Output Report Generator</header>
		<div id="header-menu"><a href="/">Home</a> | <a href="/about">About</a> | <a href="/user_manual">User Manual</a> | <a href="/faq">FAQ</a></div>
		<br>
		<br>
		<div id="option-title">Simple Analysis</div>
		<div id="option-subtitle">High-level view of industry-wide impact.</div>
		<form name = "Simple Analysis" action="results" method ="get">
			<div id="container">
				<div id="option-body">Industry:</div><br>
  					{{ simple_analysis.industry }}
			</div>
			<div id="container">
				<div id="option-body">Area:</div><br>
						{{ simple_analysis.state }}
			</div>
			<br>
			<div id="container">
				<input type="submit" value="Run Report">
			</div>
		</form>
		<div id="option-title">Advanced Analysis</div>
		<div id="option-subtitle">Filter by 6-digit NAICS code and custom business details.</div>
		<form name = "Advanced Analysis" action="results" method ="post">
			<div id="container">
				<div id="option-body">NAICS Code:</div><br>
				{{ advanced_analysis.naics }}
			</div>

			<div id="container">
				<div id="option-body">Area:</div><br>
					{{ advanced_analysis.state }}
			</div>

			<div id="container">
				<div id="option-body">Revenue:</div><br>
				{{ advanced_analysis.revenue }}
			</div>

			<div id="container">
				<div id="option-body"># of Employees:</div><br>
				{{ advanced_analysis.employees }}
			</div>

			<div id="container">
				<div id="option-body">Wages (Annual Total):</div><br>
				{{ advanced_analysis.wages_annual }}
			</div>

			<br>

			<div id="container">
				<input type="submit" value="Run Report">
			</div>

			<div id="option-title">Additional options</div>
			<div id="option-subtitle">(Only applicable to Advanced Analysis)</div>

			<div id="container">
				 {{ advanced_analysis.emp_based_lc }}
				 <label for="EmployeeBasedLC">Use Employee-Based Location Quotients</label>
			</div>
			<div id="container">
				 {{ advanced_analysis.wage_based_lc }}
				 <label for="WageBasedLC">Use Wage-Based Location Quotients</label>
			</div>


		</form>
		<br>
		<br>
		<br>
	</div>
	</body>
</html>
