{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<title>Compact Input/Output Report Generator</title>
	</head>

	<link type="text/css" rel="stylesheet" href="{% static 'styles.css' %}">
	<body>
		<div id="page-border">
			<header>Compact Input/Output Report Generator</header>
			<div id="header-menu">About | User Manual | FAQ</div>
			<br>
			<br>
			<br>
			<div id="container">
			<div id="chart-title">There was an error processing your request. Please return to the homepage and try again.</div>
			<br>
			<br>
			<br>
			</div>

		</div>
	</body>
</html>

