{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<title>Compact Input/Output Report Generator</title>
	</head>

	<link type="text/css" rel="stylesheet" href="{% static 'styles.css' %}">
	<body>
		<div id="page-border">
			<header>Compact Input/Output Report Generator</header>
			<div id="header-menu"><a href="/">Home</a> | <a href="/about">About</a> | <a href="/user_manual">User Manual</a> | <a href="/faq">FAQ</a></div>
			<br>
			<br>
			<br>
			<div id="option-title">Frequently Asked Questions</div>
			<div id="container">
			<div id="option-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
			<br>
			<br>
			<br>
			</div>

		</div>
	</body>
</html>

